@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Open Sans", sans-serif;
}

/* Navigation */
nav {
  background: linear-gradient(45deg, #9e1b38, #f05350);
  @apply text-white text-xl;
}

nav li {
  @apply px-3;
}

/* Home - Header */
.header-home {
  background: #f05350;
  @apply text-white text-3xl;
}
